[Unit]
Description=LLM Trivia Backend
After=network.target

[Service]
User=pchrusciel
WorkingDirectory=/home/pchrusciel/llm-trivia
ExecStart=/usr/bin/env make start_gunicorn_backend_live
Restart=always

[Install]
WantedBy=multi-user.target