[Unit]
Description=LLM Trivia Backend
After=network.target

[Service]
User=pchrusciel
WorkingDirectory=/home/pchrusciel/llm-trivia-game
ExecStart=make start_gunicorn_backend_live
Restart=always

[Install]
WantedBy=multi-user.target